

*{
    padding: 0;
    margin: 0;
}

header{
    
    background-color: #160f6c;
    height: 200px;
    
}

.title{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Genty;
    font-size: large;
}

.box{
    display: flex;
    flex-direction: column;
    
}

.box h3{
    color: orange;
    margin-left: 90px;
    
}

.faixa{
    display: flex;
    justify-content: center;
    
}

.loja img{
    height: 50px;
    
    
}

/*_______________MAIN__________________*/

main{
    background-color: #160f6c;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}



.mercado-livre{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    width: 30%;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid yellow;

}

.shopee{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    width: 30%;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid orange;
}

.magalu{
    background-color: white;
    width: 30%;
    margin: 10px;
    padding: 5px;
    border: 2px solid blue;
}

.mini-header{
    background-color: #fee600;
    width: 100%;
}

.content{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.produto{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: last center;
    
    
}

.produto img{
    height: 100px;
    
}

.produto a{
    text-decoration: none;
}



/*________________________________*/

footer{
    margin-top: 20px;
    background-color: #160f6c;
    height: 50px;
    text-align: center;
    color: white;
}